<div class="mb-2 p-2 border border-border rounded shadow bg-card text-card-foreground flex items-center gap-2"
    data-id="{{ todo.id }}">
    <div class="flex-1">
        <div class="flex justify-between">
            <h2 class="font-semibold">{{ todo.title }}</h2>
            <span class="text-xs text-muted-foreground bg-muted p-1">
                {{todo.date_updated.strftime("%H:%M")}}
            </span>
        </div>
        <div class="flex gap-2 ">
            <button hx-post="/todo/{{ todo.id }}/postpone" class="ml-auto ghost text-xs">
                {% include "icons/next.html" %}
            </button>
            <button hx-delete="/todo/{{ todo.id }}/delete" class="text-xs ghost text-red-500">
                {% include "icons/trash.html" %}
            </button>
            <button hx-post="/todo/{{ todo.id }}/done" class="text-xs">
                {% include "icons/tick.html" %}
            </button>
        </div>
    </div>
</div>
