<div class="mb-2 p-2 border border-border rounded shadow bg-card text-card-foreground flex items-center gap-2"
     data-id="{{ todo.id }}"
     ondragover="handleDragOver(event)"
     ondrop="handleDrop(event)">

    <!-- Drag handle -->
    <div class="cursor-move w-4 h-6 flex flex-col justify-center items-center text-gray-400"
         draggable="true"
         ondragstart="handleDragStart(event)">
    </div>

    <!-- Todo content -->
    <div class="flex-1">
        <div>
        <h2 class="font-semibold">{{ todo.title }}</h2>
        <span class="text-xs">
            {{todo.date_created}}
        </span>
        </div>
        <div class="flex gap-2 ">
            <button hx-post="/todo/{{ todo.id }}/postpone" class="ml-auto ghost text-xs">Do it tomorrow</button>
            <button hx-delete="/todo/{{ todo.id }}/delete" class="text-xs ghost text-red-500">Delete</button>
            <button hx-post="/todo/{{ todo.id }}/done" class="text-xs">Done</button>
        </div>
    </div>
</div>
